<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "jquery.DOMWindow.js" %>






<script>
	$(document).ready(function(){
		$("#industry_parent_id").change(function(){
			if(this.value == "") return;
			$.getJSON("/industries",{"id": this.value}, function(data){
				var items = [];
				$.each(data, function(index, value){
					industry = value.industry;
					items.push('<option value="' + industry.id + '">' + industry.name + '</option>');
				});
				$("#group_industry_id").html("<option value=''>--请选择--</option>" + items.join(""));
			});
		});
	});
</script>

<%= errors_for @group %>
<% form_for(:group, :url => groups_path, :html => {:id=>"reg_form", :class=>"", :method => :post}) do |f| %>
    <ul>
      <li>
        <div class="desc">
          名称<span class="req">*</span>
        </div>
        <%= f.text_field :name, :class=>"field text required" %>
      </li>
      <li>
        <div class="desc">
          全称<span class="req">*</span>
        </div>
        <%= f.text_field :real_name %>
      </li>
      
      <li>
        <div class="desc">
          描述<span class="req">*</span>
        </div>
        <%= f.text_area :description %>
      </li>
    
      <li>
        <div class="desc">
          联系人电话<span class="req">*</span>
        </div>
        <%= f.text_field :contact %>
      </li>
      
      
      <li>
        <div class="desc">
          所属行业*</span>
        </div>
				<% 
					options = Array.new
					options << ["--请选择--",""]
					Industry.root.each{|industry| options << [industry.name, industry.id] } 
				%>
				<%= select_tag "industry_parent_id", options_for_select(options) %>
				<%= f.select"industry_id", [["--请选择--",""]] %>


				<%= f.hidden_filed "industry_id" %>
<p><a href="#example9Content" class="example9DOMWindow">Open DOM Window</a></p> 
<p><a href="#example9aContent" class="example9aDOMWindow">Open DOM Window</a></p> 
<script type="text/javascript"> 
$('.example9DOMWindow').click(function(){ 
    $.openDOMWindow({ 
        windowSourceID:'#example9Content', 
        height:220,  
        width:320, 
        overlay:0, 
        positionType:'anchoredSingleWindow',  
        windowPadding:20,  
        windowBGColor:'#ccc',  
        borderSize:'0', 
        anchoredSelector:'.example9DOMWindow', 
        positionLeft:120, 
        positionTop:-150 
    }); 
    return false; 
}); 
$('.example9aDOMWindow').click(function(){ 
    $.openDOMWindow({ 
        windowSourceID:'#example9Content', 
        height:220,  
        width:320, 
        overlay:0, 
        positionType:'anchoredSingleWindow',  
        windowPadding:20,  
        windowBGColor:'#ccc',  
        borderSize:'0', 
        anchoredSelector:'.example9aDOMWindow', 
        positionLeft:120, 
        positionTop:-150 
    }); 
    return false; 
}); 
</script> 
<div id="example9Content" style="display: none;"> 
<p>Inline Content</p> 
<p><a href="#" class="closeDOMWindow">close</a></p> 
<p>Consequat ea Investigationes in enim congue. Option velit volutpat quod blandit ex. Congue parum praesent aliquam nam clari. Qui praesent quam sollemnes id vulputate. In imperdiet diam at sequitur et. Minim delenit in dolor dolore typi.</p> 
</div>
      </li>
      

      <li>
        <div class="desc">
          <%= submit_tag "提交", {:class=>"btTxt", :id=>"saveForm"} %>
        </div>
      </li>
    </ul>
<% end %>


