.errorMsg
  %strong 注册出错，请按下列提示修改后进行
  %ul
    - @user && @user.errors.each do |error|
      %li= error.last
  - form_for(:user, :url => signup_path, :html => {:id=>"reg_form", :class=>"", :method => :post}) do |f|
    %ul
      %li
        .desc
          用户名
          %span.req *
        = f.text_field :login, :class=>"field text required"
      %li
        .desc
          密码
          %span.req *
        = f.password_field :password, :class=>"field text required"
      %li
        .desc
          确认密码
          %span.req *
        = f.password_field :password_confirmation, :class=>"field text required"
      %li
        .desc
          邮箱
          %span.req *
        = f.text_field :email, :class=>"field text required"
      %li
        .desc
          真实姓名
          %span.req
            = f.text_field :real_name
      %li
        .desc
          所在地
          %span.req *
        = f.text_field :address_desc, :class=>"field text required"
      %li
        .desc
          = submit_tag "注册", {:class=>"btTxt", :id=>"saveForm"}
