:css
  .pub_time {
      font-size: 90%;
      color: #666;
  }

  ul.meta {
      list-style: none;
  }

  ul.meta dt, ul.meta dd {
      display: inline;
  }

  ul.meta dt {
      width: 100px;
      display: inline-block;
  }

  h1 {
      color: #00f;
  }

  .title {
      border-bottom: 1px solid #ccc;
      margin-bottom: 4px;
  }
.title
  %h1= @activity.title
  .pub_time
    生效时间：#{ftime(@activity.start_time)} - #{ftime(@activity.end_time)}
  - if !@activity.weblink.blank?
    = link_to "查看详情", @activity.weblink, :rel => 'nofollow', :target => '_blank',:style => 'padding:4px;font-size:120%;font-weight:bold;'
%ul.meta
  %li
    %dl
      %dt 地点：
      %dd= @activity.address_desc
  %li
    %dl
      %dt 联系人：
      %dd= @activity.contact_person
  %li
    %dl
      %dt 联系方式：
      %dd= @activity.contact
%div
  %h3 详细信息
  %div
    = raw @activity.description
