- path_hash = {:city => current_city.code}
- path_hash[:area] = @area.code if @area
- path_hash[:root_category] = @root_category.code if @root_category
:css
  a.current {
      color: #f00;
      font-weight: bold;
  }
%div
  活动区域：#{link_to "全#{current_city.name}", city_home_path(path_hash.merge(:area => nil)), (@area.nil? ? {:class => 'current'} : nil)}
  - current_city.areas.each do |area|
    = link_to area.name, city_home_path(path_hash.merge(:area => area.code)), (area == @area ? {:class => 'current'} : nil)
%div
  活动类型：#{link_to "全部活动", city_home_path(path_hash.merge(:root_category => nil)), (@root_category.nil? ? {:class => 'current'} : nil)}
  - Category.root_categories.each do |root_category|
    = link_to root_category.name, city_home_path(path_hash.merge(:root_category => root_category.code)), (root_category == @root_category ? {:class => 'current'} : nil)
