<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="utf-8" />
  <link rel="bookmark" href="favicon.ico" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://www.jumaimai.com/favicon.ico" type="image/x-icon" />
  <title>面谈吧后台管理</title>
  <%= stylesheet_link_tag 'css_reset.css', :media => 'screen, projection'%>
  <%= stylesheet_link_tag 'miantanba_admin.css', :media => 'screen, projection'%>
  <%= javascript_include_tag "jquery" %>
  <%#= kindeditor_javascript_include_tag %>

  <% if protect_against_forgery? %>
    <script type='text/javascript'>
      //<![CDATA[
    window._auth_token_name = "#{request_forgery_protection_token}";
    window._auth_token = "#{form_authenticity_token}";
    //]]>
    </script>
  <% end %>

  <% javascript_tag do%>
    <% if flash[:notice]%>
      alert(<%= flash[:notice]%>);
    <%end%>
  <%end%>

</head>
<body>
  <div id="header">


    <div id="logo"> <a href="/" style="float:left;"><img src="/images/logo.png"/></a> </div>
    <div id="user_nav" class="t_gray">
      <%= render(:partial => "layouts/top_info") %>
    </div>
  </div>
  <% if @navtag %>
    <script type="text/javascript" charset="utf-8">
      $('#nav .current').removeClass('current');
      $('#<%= @navtag %>').addClass('current');
      </script>
    <% end %>

    <div id="content">
      <div id="sider">
        <div class="menutit"><span>&nbsp;&nbsp;</span>后台管理菜单</div>
        <div class="menu_mod">
          <ul class="menu">
            <li><a href="/admin">活动审核</a></li>
            <li><a href="/admin/base/system">群组审核</a></li>
            <li><a href="/admin/orders">品论审核</a></li>
            <li><a href="/admin/products">实名认证</a></li>
            <li><a href="/admin/deals">群组认证</a></li>
          </ul>
        </div>

        <div class="menutit"><span>&nbsp;&nbsp;</span>活动信息</div>
        <div class="menu_mod">
          <ul class="menu">
            <li><a href="/admin">活动列表</a></li>
            <li><a href="/admin/base/system">活动状态</a></li>
          </ul>
        </div>


        <div class="menutit"><span>&nbsp;&nbsp;</span>用户信息</div>
        <div class="menu_mod">
          <ul class="menu">
            <li><a href="/admin">新注册</a></li>
            <li><a href="/admin/base/system">群组审核</a></li>
          </ul>
        </div>


        <div class="menutit"><span>&nbsp;&nbsp;</span>群组信息</div>
        <div class="menu_mod">
          <ul class="menu">
            <li><a href="/admin">群组成员</a></li>
            <li><a href="/admin/base/system">群组活动</a></li>
            <li><a href="/admin/orders">群组通知</a></li>
          </ul>
        </div>



        <div class="menutit"><span>&nbsp;&nbsp;</span>广告管理</div>
        <div class="menu_mod">
          <ul class="menu">
            <li><a href="/admin">热门活动</a></li>
            <li><a href="/admin/base/system">活跃场馆</a></li>
          </ul>
        </div>
        <div class="menutit"><span>&nbsp;&nbsp;</span>广播消息</div>
        <div class="menutit"><span>&nbsp;&nbsp;</span>用户反馈</div>


      </div>
      <div id="cont">
        <%= yield :layout %>
      </div>
    </div>

    <div class="clear"></div>
    <div id="footer" class="clear">
      <span class="copyright">
        Copyright © 2010-2011 Jumaimai.com. All rights reserved. 京ICP证10215661号
      </span>
    </div>
    <%= yield :javascript %>
    <% if @navtag %>
      <script type="text/javascript" charset="utf-8">
        $('#nav .current').removeClass('current');
        $('#<%= @navtag %>').addClass('current');
        </script>
      <% end %>
      <% if @menutag %>
        <script type="text/javascript" charset="utf-8">
          $('.user_menu .current').removeClass('current');
          $('#<%= @menutag %>').addClass('current');
          </script>
        <% end %>
      </body>
    </html>

