<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <%= render :partial =>  'layouts/title' %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag :defaults %>
    <%= yield :head %>
  </head>
  <body>
    <div class="container">
      <%=render :partial=>"layouts/top_info"%>
      <div id="header">
        <%#=render :partial=>"layouts/head"%>
      </div>
      <div class="main">
        <div id='left'>
          <%=render :partial=>"layouts/left_nav"%>
        </div>
        <div id= 'right'>
        <%=yield %></div>
      </div>
      <div id="bottom">
        <%= render :partial =>  'layouts/bottom' %>
      </div>
    </div>
  </body>
</html>
