
<!DOCTYPE HTML>
<html>
<head>
  <title>面谈吧</title>
  <%= stylesheet_link_tag "site" %>
  <%= stylesheet_link_tag "front" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.cookie.js" %>
  <%= javascript_include_tag "front" %>
  <%= yield :head %>
  <style>
		.left-bar{
			position:absolute; 
			width:125px; 
			height:100%; 
			border-right:1px solid #85B6E2;
		}

		.left-bar a{
			font-size: 14px;
			font-weight:bold;
		}
		.left-bar a:hover{
			background: #85B6E2;
			color:#fff;
		}

		.left-bar ul{
			margin-top: 30px;
		}

		.left-bar ul li{
			font-weight:bold;
			height:35px;
			margin-bottom:0;
			padding-bottom:2px;
			text-align: center;
		}

		.right-content{
			margin-left:180px; 
			height:100%; 
		}
	</style>

</head>
<body>
<div class="container">
  <div class="header" style="overflow: auto;clear:both;">
    <a href="/" style="float:left;"><img src="/images/logo.png"/></a>

    <div class="changeCity" style="float:left;">
      <span style="font-size:120%;"><%= current_city.name %></span><br/><a href="#" style="color:#666" id="changeCityLink">[切换城市]</a>
      <%= render :partial => 'layouts/cities' %>
    </div>
    <div>
      <%= link_to "列表模式", city_home_path(current_city.code) %>
      <%= link_to "地图模式", map_path(current_city.code) %>
    </div>

    <%= render :partial=>"layouts/top_info" %>

    <div>
      <a class="newActivityLink" href="/activities/new">我要发起活动</a>
    </div>
    <br style="clear:both"/>
  </div>

  <div class="main">

    <%#= render :partial => '/layouts/selector' %>
		<div class="left-bar">
	    <ul>
	      <li>
	         <a href="#">群组简介</a>
	      </li>
	      <li>
	         <a href="#">成员列表</a>
	      </li>
	      <li>
	         <a href="#">群组活动</a>
	      </li>
	      <li>
	         <a href="#">群组留言</a>
	      </li>
			</ul>	
		</div>
	
		<div class="right-content">
	    <%= yield %>
		</div>

  </div>

  <div id="bottom">
    <%= render :partial => 'layouts/bottom' %>
  </div>

</div>
</body>
</html>
