!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    = render :partial =>  'layouts/title'
    = stylesheet_link_tag "site"
    = javascript_include_tag :defaults
    = yield :head
  %body.login
    .login
      = yield
